@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(212, 136, 181);
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    color: white;
    font-size: 30px;
}
.all{
    background-color: rgb(248, 160, 211);
    border: dotted 6px;
    margin: 20px;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    flex-flow:row;
}
:root {

}
.lista{
    list-style-type: none;
}
.titulo__principal{
    text-align: center;
    background-color: aqua;
    text-size-adjust: 100px;
}
.imagem{
    border:solid 5px white;
    align-items: end;
    width: 300px;
    height: auto;
    background-color: blueviolet;
}
.texto{
    margin-right:50%;
    background-color: chocolate;
}